        /* Estilo da tabela */
        
        table {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 400;
            margin-top: 20px;
            text-align: center;
        }

        /* Estilo da caption */
        caption{
            margin-bottom: 15px;
            font-weight: 600;
        }
        
        /* Estilo para a primeira linha*/
        td.head {
            background-color: #4363ED;
            font-weight: bold;
        }

        /* Estilo das células da tabela */
        td {
            padding: 10px;

            background-color: #c3ceff;
            font-weight: 500;
        }

        /* Estilo quando o cursor está sobre uma célula */
        td:hover {
            background-color: #4363ED;
            color: white;
        }

        /* Estilo para a primeira coluna */
        td:first-child {
            font-weight: bold;
        }